@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Roboto, sans-serif;
  background-image: linear-gradient(to bottom right, #2e383c, #1d2326);
  height: 100vh;
  width: 100vw;
}
